<div class="col-md-12">
  <form novalidate (submit)="authenticate()" #loginForm>
      <div class="row">
          <div class="col">
              <div class="form-group text-center">
                  <label for="login" class="form-label">
                      <span class="login-form-label">Login</span>
                  </label>
                <input type="text" class="form-control form-control-lg" name="login" [(ngModel)]="login" (change)="checkLoginButton()" (focus)="onFocus()"/>
              </div>
          </div>
      </div>

      <div class="row ">
          <div class="col">
              <div class="form-group text-center">
                  <label for="password" class="form-label">
                      <span class="login-form-label">Password</span>
                  </label>
                  <input type="password" class="form-control form-control-lg" name="password" [(ngModel)]="password" (change)="checkLoginButton()" (focus)="onFocus()"/>
              </div>
          </div>
      </div>

      <div class="row ">
          <div class="col">
              <button class="btn btn-primary btn-block" type="submit" [disabled]="loginButtonDisabled">
                  <span>Log in</span>
              </button>
          </div>
          <div class="col">
              <button class="btn btn-secondary btn-block" (click)="goRegister()">
                  <span>Register</span>
              </button>
          </div>
      </div>
      <div class="row">
        <div class="col">
          <br/>
          <alert *ngIf="errorOccurred" type="danger" class="text-center">
            Wrong login or password
          </alert>
        </div>
      </div>
  </form>
</div>
