<div class="contrainer-fluid">
  <div>
    <div>
      <div class="row">
        <label>Level</label>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-outline-primary active">
            <input type="checkbox" checked autocomplete="off">N5
          </label>
          <label class="btn btn-outline-primary">
            <input type="checkbox" autocomplete="off" disabled>N4
          </label>
          <label class="btn btn-outline-primary">
            <input type="checkbox" autocomplete="off" disabled>N3
          </label>
          <label class="btn btn-outline-primary">
            <input type="checkbox" autocomplete="off" disabled>N2
          </label>
          <label class="btn btn-outline-primary">
            <input type="checkbox" autocomplete="off" disabled>N1
          </label>
        </div>
      </div>
      <div class="row">
        <label>Type</label>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-outline-primary active" data-toggle="tooltip" data-placement="top" title="Guess answer by signs">
            <input type="radio" name="options" id="option1" autocomplete="off" checked>
            <strong> あ　-> a </strong>
          </label>
          <label class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Guess answer by readings">
            <input type="radio" name="options" id="option2" autocomplete="off">
            <strong> a -> あ </strong>
          </label>
        </div>
      </div>
      <div class="row">
        <label>Repeats</label>
        <input type="number" value="20">
      </div>
    </div>
    <div>
      STATS
    </div>
  </div>
  <div>
    <div class="row">
      <button class="btn btn-outline-primary btn-lg" (click)="getAllHiraganas()">
        <strong>Start learning!</strong>
      </button>
    </div>
  </div>
</div>