  <div class="row padded-bttm" *ngIf="checkShowLevels()">
    <div class="col-md-3 ml-md-auto text-left">
      <label class="font-weight-bold label">Level</label>
    </div>
    <div class="col-md-3 mr-auto text-left">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-outline-primary" [class.active]="true">
          <input type="checkbox" [(ngModel)]="level" [value]="'N5'" checked autocomplete="off" name="level" #n5 (click)="levelSelect()">N5
        </label>
        <label class="btn btn-outline-primary">
          <input type="checkbox" autocomplete="off" [(ngModel)]="level" [value]="'N4'" name="level" #n4 disabled (click)="levelSelect()">N4
        </label>
        <label class="btn btn-outline-primary">
          <input type="checkbox" autocomplete="off" [(ngModel)]="level" [value]="'N3'" name="level" #n3 disabled (click)="levelSelect()">N3
        </label>
        <label class="btn btn-outline-primary">
          <input type="checkbox" autocomplete="off" [(ngModel)]="level" [value]="'N2'" name="level" #n2 disabled (click)="levelSelect()">N2
        </label>
        <label class="btn btn-outline-primary">
          <input type="checkbox" autocomplete="off" [(ngModel)]="level" [value]="'N1'" name="level" #n1 disabled (click)="levelSelect()">N1
        </label>
      </div>
    </div>

    </div>

  <div class="row padded-bttm">
    <div class="col-md-3 ml-md-auto text-left">
      <label class="font-weight-bold label">Flashcard side</label>
    </div>
    <div class="col-md-3 mr-auto text-left">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Guess answer by signs" [class.active]="isRadioActive('signFirst')">
          <input type="radio" name="options" id="option1" [value]="'signFirst'" [(ngModel)]="selectedOption" autocomplete="off" checked>
          <strong> あ > a </strong>
        </label>
        <label class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Guess answer by readings" [class.active]="isRadioActive('meaningFirst')">
          <input type="radio" name="options" id="option2" [value]="'meaningFirst'" [(ngModel)]="selectedOption" autocomplete="off">
          <strong> a > あ </strong>
        </label>
      </div>
    </div>

  </div>

  <div class="row justify-content-center">
    <button class="btn btn-outline-primary btn-lg" (click)="startLearn()">
      <strong>Start learning!</strong>
    </button>
  </div>
