<login-page></login-page>
<!-- <nav class="navbar fixed-top header">HEADER</nav>
<div class="container-fluid main" [ngStyle]="{'background-image':'url('+ imgBack +')'}">
    <form>
      <div class="row vertical-center-row">
        <div class="col-sm-4 col-sm-offset-4">
          <div class="form-group text-center">
            <label for="login" class="form-label">
              <span>Login</span>
            </label>
            <input type="text" class="form-control form-control-lg" id="login"/>
          </div>
        </div>
      </div>

      <div class="row vertical-center-row">
        <div class="col-sm-4 col-sm-offset-4">
          <div class="form-group text-center">
            <label for="password" class="form-label">
              <span>Password</span>
            </label>
            <input type="password" class="form-control form-control-lg" id="password"/>
          </div>
        </div>
      </div>
      
      <div class="row vertical-center-row">
        <div class="col-sm-2 col-sm-offset-4">
          <button class="btn btn-default btn-block" type="submit">
            <span>Log in</span>
          </button>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-default btn-block">
            <span>Register</span>
          </button>
        </div>
      </div>
    </form>
</div>

<nav class="navbar fixed-bottom footer">FOOTER</nav> -->

<!-- <nav class="navbar navbar-default navbar-fixed-top header">
    <div class="container-fluid"> -->
      <!-- Brand and toggle get grouped for better mobile display -->
      <!-- <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div> -->
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#">HIRA</a></li>
          <li><a href="#">KANA</a></li>
          <li><a href="#">KANJI</a></li>
          <li><a href="#">WORDS</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul> -->
      <!-- </div> -->
      <!-- /.navbar-collapse -->
    <!-- </div> -->
    <!-- /.container-fluid -->
  <!-- </nav>
<div class="container-fluid">
</div>
<nav class="navbar navbar-fixed-bottom footer"> -->