<div class="container-fluid">
  <form>
    <div class="row">
      <div class="col-sm-2">
        <div class="form-group">
          <label for="login">
            <span>Login</span>
          </label>
          <input type="text" class="form-control" id="login"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <div class="form-group">
          <label for="password">
            <span>Password</span>
          </label>
          <input type="password" class="form-control" id="password"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <div class="form-group">
          <label for="email">
            <span>Email</span>
          </label>
          <input type="email" class="form-control" id="email"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-1">
        <button type="submit" class="btn btn-primary btn-block">
          <span>Submit</span>
        </button>
      </div>
      <div class="col-sm-1">
        <button class="btn btn-default btn-block">
          <span>Cancel</span>
        </button>
      </div>
    </div>
  </form>
</div>